#include "crosses.dtsi"
#include <input/processors.dtsi>

&default_transform {
    col-offset = <6>;
}; 

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
    };

    left_trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball_split>;
        input-processors = <&zip_xy_to_scroll_mapper>;
    };
};

