#include "crosses.dtsi"
#include <input/processors.dtsi>

&default_transform {
    col-offset = <6>;
};

/ {
    // Suppress horizontal (X) movement so only vertical scroll fires.
    // Without this, REL_X gets mapped to REL_HWHEEL which terminals
    // interpret as left/right arrow keystrokes.
    left_tb_x_suppressor: left_tb_x_suppressor {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <INPUT_EV_REL>;
        codes = <INPUT_REL_X>;
    };

    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
    };

    left_trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball_split>;
        input-processors = <&left_tb_x_suppressor 0 1>, <&zip_xy_to_scroll_mapper>;
    };
};
